<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Image Text</title>
</head>
<body>
<p th:text="'Text: ' + ${imageText}" class="text"></p>
</body>
</html>