<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show Image</title>
</head>
<body>
<p th:text="'The file is saved at:' + ${filePath} " class="text"></p>
</body>
</html>