<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Crop Hints</title>
</head>
<body>
<p th:text="'Crop hints: ' + ${cropHints}" class="text"></p>
</body>
</html>